@import './v-input.scss';
@import './v-btn.scss';
@import './v-text-field.scss';
@import './v-calendar.scss';
@import './v-breadcrumbs.scss';

h1 {
	color: #243138;
}

.pointer {
	cursor: pointer;
}

.mb-02 {
	margin-bottom: 2px !important;
}