.v-calendar {
	& &-weekly__head-weekday {
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #e0e0e0;
	}

	& .v-event-more {
		background-color: transparent !important;
		&:hover {
			text-decoration: underline;
		}
	}
}

.v-calendar-weekly__day,
.v-calendar-daily_head-day,
.v-calendar-daily__day,
.v-calendar-weekly__head-weekday {
	&:nth-child(7),
	&:nth-child(8) {
		background-color: #FFC11C20;
	}
}

.v-calendar-daily__day,
.v-calendar-weekly__day {
	&:hover {
		background-color: #0001;
	}
}

.v-calendar-daily_head-day,
.v-calendar-weekly__day {
	&.v-present {
		.v-btn__content {
			color: #fff;
		}
	}
}

.v-toolbar {
	&__title {
		overflow: visible;
	}
}