.v-data-table {
	display: flex;
	flex-direction: column;

	.v-data-table__wrapper {
		flex: 1;
	}

	& .v-data-table-header {
		background-color: #F5F5F5;
	
			th {border-bottom-width: 0 !important;}
	}
}