.v-input {
	.v-messages {
		&__message {
			padding-left: 22px !important;
			line-height: 14px;
	
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 15px;
				height: 13px;
				background: url('~@/assets/svg/input-error.svg') center / contain no-repeat;
			}
		}
	
	}

	&.v-text-field--filled {
		.v-input__slot {
			&::before {display: none;}
		}

		// .v-label.v-label--active {
		// 	top: 12px;
		// }

		// input {
		// 	margin-top: 20px;
		// }
	}
}
